<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>

<link rel="stylesheet" href="http://127.0.0.1:8000/restaurant/static/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="http://127.0.0.1:8000/restaurant/static/css/custom.css" type="text/css" />


  <!--<link rel="stylesheet" href="../static/bootstrap.min.css">
  <!--<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap.min.css" />-->


  <title>Welcome To Foodie || Index</title>
</head>
<body class ="bgimg pagewidth" >
<div class="pagewidth">
<div class="row logo"><img src="http://127.0.0.1:8000/restaurant/static/src/foodie1.png"></div>

<div class ="row"><div class="navbar navbar-inverse "><div class="navbar-inner"><div class="container "><div class="span1 offset"></div><a class="brand" href="http://127.0.0.1:8000/restaurant">foodie!!</a><ul class = "nav "><li><a href="http://127.0.0.1:8000/restaurant">Home</a></li><li><a>About Us</a></li></ul><div class="span4"> </div></div></div></div> </div>

<div class="container">
<div id="myCarousel" class ="carousel slide">
  <div class="carousel-inner">
    <div class="item"><img class="cor" src="http://127.0.0.1:8000/restaurant/static/src/3dwallpapers.png" alt="">
      <div class="container">
        <div class="carousel-caption "><div class="container"><h1>Foodie</h1><p>Where we make food a priority</p></div>
      </div></div></div>
    <div class="item "><img class="cor" src="http://127.0.0.1:8000/restaurant/static/src/3D-67.jpg" alt="">
      <div class="container">
        <div class="carousel-caption"><h1>Foodie</h1><p>Where we make food a priority</p></div>
      </div></div>
    <div class="item active"><div class="span2 offset"></div><img class="corheight pull-right" src="http://127.0.0.1:8000/restaurant/static/src/Woman.png" alt=""><div class="cor"><div class="container">
        <div class="carousel-caption "><h1>Foodie</h1><p>Where we make food a priority</p></div>
      </div></div></div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
{%block content%}
  {%endblock%}

    
</div>
</body>
</html>

