<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>

<link rel="stylesheet" href="http://127.0.0.1:8000/restaurant/static/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="http://127.0.0.1:8000/restaurant/static/css/custom.css" type="text/css" />


	<!--<link rel="stylesheet" href="../static/bootstrap.min.css">
	<!--<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap.min.css" />-->


	<title>Welcome To Foodie || Index</title>
</head>
<body class ="bgcolor pagewidth" >
<div class="navbar navbar-inverse navbar-fixed-top "><div class="navbar-inner"><div class="container"><div class="span1 offset"></div><a class="brand" href="#">foodie!!</a><ul class = "nav "><li><a>Home</a></li><li><a>About Us</a></li><li><a>Downloads</a></li></ul></div></div></div>	
<!--<div class ="row-fluid">
<div class ="img span12"align ="center" padding ="1px"><img src="http://127.0.0.1:8000/restaurant/static/src/3dwallpapers.png"></div>	
	-->
 <div id="myCarousel" class ="carousel slide">
	<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li></ol>

	<div class="carousel-inner">

		<div class="item"><img class="cor" src="http://127.0.0.1:8000/restaurant/static/src/3dwallpapers.png" alt="">
			<div class="container">
				<div class="carousel-caption "><h1>Foodie</h1><p>Where we make food a priority</p></div>
			</div></div>

		<div class="item "><img class="cor" src="http://127.0.0.1:8000/restaurant/static/src/3D-67.jpg" alt="">
			<div class="container">
				<div class="carousel-caption"><h1>Foodie</h1><p>Where we make food a priority</p></div>
			</div></div>
		<div class="item active"><img class="cor" src="http://127.0.0.1:8000/restaurant/static/src/Food Wallpaper-.jpg" alt=""></div>

	</div>
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row-fluid" >
	<div class="span4">
	<div class ="hero-unit">
		<form method = 'GET'>
		<lable for = 'b'> Browse By:</lable>
		<select class ="span12" name = 'b'>
		<option value='restaurant'>Restaurant Name</option>
		<option value='cusine'>Restaurant Cusine</option>
		</select>
		<input class ="span12" type="text" name="q" value ="{{query|escape}}">
		</br>
		<lable class ="span12" for = 'c'>Cuisine</lable>
		<select class ="span12" name = 'c'>
		<option value=''></option>
		{%if cuisine%}
			{%for cu in cuisine%}
			<option value='{{cu}}'>{{cu}}</option>
			{%endfor%}
		{%else%}
			<option value='Cuisine'>No Cuisine</option>
		{%endif%}
		</select>
	
		<lable for = 'l'>Location</lable>
		<select class ="span12" name = 'l'>
		<option value=''></option>
		{%if location%}
				{%for lo in location%}
			<option value='{{lo}}'>{{lo}}</option>
			{%endfor%}
		{%else%}
		<option value='NoLocation'>No Location</option>
		{%endif%}
		</select>
		<br/>
		<input type="checkbox" name="d">Delivery
		<input type="checkbox" name="p">Pick Up 
		<br/><br/><!--<a class="btn btn-primary btn-large" type="submit" value="Search" align ="center">Search &raquo</a>-->
				<input class="btn btn-large" type="submit" value="Search &raquo">
		</form><br/>
     	</div>
     	<div class="hero-unit"><h2>Special Menus</h2>
     		<div span12>
     			<h3>German Stake</h3>
     			<div class="txt">
     				<img class="img-polaroid" src="http://127.0.0.1:8000/restaurant/static/src/imaget5.jpg" alt=""></div>
     				<div clalss="span6 txt"><font color="white" size=2px>
     				This food made by magicians makes ur stomach go grrrr just </font></div>
     			<h3>Italian Lasigna</h3>
     			<div class="txt">
     				<img class="img-polaroid" src="http://127.0.0.1:8000/restaurant/static/src/imaget5.jpg" alt=""></div>
     				<div clalss="span6 txt"><font color="white" size=2px>
     				This food made by magicians makes ur stomach go grrrr just </font></div>


     		</div></div>
    	</div>
	<div class="span8">
	
	<div class="span12">
		<!--<h2> Results for "{{query}}" are:</h2>-->
		{% if query_browse|stringformat:"s" == "restaurant"  %}
		{%for val in results%}
		<div class="span12"><h3>{{val}}</h3><br/>
	
				{%if query_browse%}
				<div class = "span5 img" ><img  src="http://127.0.0.1:8000/restaurant/static/src/2008_04_15-PlaneFood.jpg"><div></br><font color="white">This Delicious cusine made from the fines ingridients would make even the best of holidays better This Delicious cusine made from the fines ingridients would make even the best of holidays better....</font></div></div>				<div class = "span6 hero-unit">
				{%for rest in 	val.restaurant.all%}	
				<b><ul><li>{{rest.restaurant_name}}</li></ul></b><font color="white">
				Delivery : {%if rest.delivery%}Yes{%else%}No{%endif%} </br>
				Price : {{val.menu_item_price}}</font>
				{%endfor%}</div>
				{%endif%}
				</div>
				{%endfor%}
		
		{%endif%}
		{% if query_browse|stringformat:"s" == "cusine" %}
		{%for val in results%}
			<div class="span12"><h3>{{val}}</h3>
				{% if query_cusine  %}
				<div class = "span5 img" ><img  src="http://127.0.0.1:8000/restaurant/static/src/2008_04_15-PlaneFood.jpg"></div>
				<div class = "span5 hero-unit">
				{{query_cusine}}</div>
				{%else%}
				{%if query_browse%}
				<div class = "span5 img" ><img  src="http://127.0.0.1:8000/restaurant/static/src/2008_04_15-PlaneFood.jpg"></div>
				<div class = "span5 hero-unit">
				{%for rest in val.cusines.all%}	
				<ul><li><font color="yellow">{{rest.cusine_name}}</font></li></ul>
				{%endfor%}</div>
				{%endif%}
				{%endif%}
				</div>	
			{%endfor%}
			{%endif%}
		</div>
	</div><!-- container-->
	<script src="http://127.0.0.1:8000/restaurant/static/js/bootstrap.min.js"></script>
	<script src="http://127.0.0.1:8000/restaurant/static/js/bootstrap-carousel.js "></script>

</body>
</html>

